<div class="row">
  <div class="col-12">
    <h4>Choix du materiau :</h4>
    <div style="width: auto; overflow-y: scroll; margin-top: 20px" *ngIf="materiaux">
      <div class="container-fluid">
          <div class="row flex-nowrap">
              <div class="col-3" *ngFor="let materiau of materiaux">
                  <div class="card shadow-sm" (click)="selectMat(materiau)">
                    <div class="card-header"><h6>{{materiau.nom}}</h6></div>
                    <div class="card-body shadow-sm">
                      <div class="card-text">
                        <b>Note :</b> {{materiau.note}} / 5 ★ <br/>
                        <b>Resistance à l'humidité :</b> {{materiau.absorption_humidite_24h | uppercase}} <br/>
                        <b>Température de fléchissement :</b> {{materiau.tflechissement_charge_045MPa}} °C <br/>
                        <b>Prix /KG:</b> {{materiau.prix_kg}} €<br>
                      </div>
                    </div>
                    <img class="card-img-bottom" [src]="materiau.image" style="height: 160px">
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" style="margin-top: 30px">
  <div class="col-12">
    <h4>Choix d'imprimante et scanner :</h4>
    <div class="row">
      <div class="col-6"><b>Imprimante :</b><hr></div>
      <div class="col-6"><b>Scanner : </b><hr></div>
    </div>
     <div class="row">
      <div class="col-6">
        <div class="imprimantes" *ngIf="imprimantes">
          <div *ngFor="let imprimante of imprimantes | matFilter:selectedMate" class="imprimanteList">
            <div style="padding: 20px" (click)="selectImp(imprimante)">
              <div class="row card-header" ><h6>{{imprimante.nom}}</h6></div>
              <div class="row card-body shadow-sm">
                <div class="col-6">
                  <b>Prix:</b> {{imprimante.prix}} €<br>
                  <b>Dimension:</b> {{imprimante.dimension}}<br>
                </div>
                <div class="col-6">
                  <img class="card-img" [src]="imprimante.image" style="max-height: 160px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="scanners" *ngIf="scanners">
          <div *ngFor="let scanner of scanners" class="scannerList ">
            <div style="padding: 20px" (click)="selectScan(scanner)">
              <div class="row card-header rounded-top"><h6>{{scanner.nom}}</h6></div>
              <div class="row card-body shadow-sm" >
                <div class="col-6">
                  <b>Prix: </b>{{scanner.prix}} €<br>
                  <b>Compatibilité : </b>{{scanner.exploitation}} <br>
                </div>
                <div class="col-6">
                  <img class="card-img" [src]="scanner.image" style="max-height: 160px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" style="margin-top: 30px">
  <div class="col-12">
    <h4>Faites votre choix de logiciel :</h4>
    <div style="width: auto; overflow-y: scroll; margin-top: 20px" *ngIf="logiciels">
      <div class="container-fluid">
          <div class="row flex-nowrap">
              <div class="col-3" *ngFor="let logiciel of logiciels">
                  <div class="card shadow-sm" (click)="selectLogiciel(logiciel)">
                    <div class="card-header"><h6>{{logiciel.nom}}</h6></div>
                    <div class="card-body shadow-sm">
                      <div class="card-text">
                        Prix: {{logiciel.prix}} €<br>
                      </div>
                    </div>
                    <img class="card-img-bottom" [src]="logiciel.image" style="height: 160px">
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="card shadow-sm" style="margin-top: 5%" *ngIf="selectedImp && selectedScan && selectedLogi">
  <div class="card-header"><h5>Votre solution finale :</h5></div>
  <div style="padding: 20px">
    <h5>Evaluation :</h5>
    <hr>
    <div class="row">
      <div class="col-3">
        <h6>Imprimante : </h6>
        <hr>
        <b>Précision : </b>{{selectedImp.Intprecision}}/ 3 ★<br/>
        <b>Surface d'impréssion: </b>{{selectedImp.Intsurface}}/ 3 ★<br/>
        <b>Vitesse d'impréssion : </b>{{selectedImp.Intvitesse}}/ 3 ★<br/>
      </div>
      <div class="col-3">
        <h6>Scanner :</h6>
        <hr>
        <b>Note : </b>{{selectedScan.note}}/ 5 ★<br/>
        <b>Précision : </b>{{selectedScan.Intprecision}}/ 3 ★<br/>
      </div>
      <div class="col-3">
        <h6>Logiciel :</h6>
        <hr>
        <b>Simplicité : </b>{{selectedLogi.facilite}}/ 4 ★<br/>
        <b>Rapidité : </b>{{selectedLogi.Rapidite}}/ 5 ★<br/>
      </div>
      <div class="col-3">
        <h6>Prix Total :</h6>
        <h4>{{getTotalPrice()}} €</h4>
        <h6>Note Globale :</h6>
        <h4>{{getNote() | number:'1.0-0'}} / 10 ★</h4>
      </div>
    </div>
    <hr>
    <h5>Imprimante : {{selectedImp.nom}}</h5>
    <hr>
    <div class="row">
      <div class="col-4">
        <b>Prix : </b>{{selectedImp.prix}} <br>
        <b>Dimension: </b>{{selectedImp.dimension}} <br>
        <b>Diamètre Buse: </b>{{selectedImp.Dbuse}} <br>
        <b>Slicer: </b>{{selectedImp.slicer}} <br>
        <b>Compatibilité: </b>{{selectedImp.compatible}} <br>
        <b>Vitesse Impression: </b>{{selectedImp.Vmax}} <br>
        <b>Lien PC - Imprimante: </b>{{selectedImp.link}} <br>
        <b>Alimentation: </b>{{selectedImp.Alimentation}} <br>
        <b>Température Max. Plateau: </b>{{selectedImp.tmax_plateau}} <br>
      </div>
      <div class="col-4">
        <b>Interface: </b>{{selectedImp.interface}} <br>
        <b>Sauvegarde position après coupure: </b>{{selectedImp.save}} <br>
        <b>Température extérieure requise: </b>{{selectedImp.text}} <br>
        <b>Option Intéressante: </b>{{selectedImp.option}} <br>
        <b>Inconvénients: </b>{{selectedImp.inconvenients}} <br>
        <a [href]="selectedImp.lienweb"  target="_blank"><b>Lien Web</b></a>
      </div>
      <div class="col-4">
        <img class="card-img" [src]="selectedImp.image">
      </div>
    </div>
    <hr>
    <h5>Scanner :{{selectedScan.nom}}</h5>
    <hr>
    <div class="row">
      <div class="col-4">
        <b>Entreprise: </b>{{selectedScan.entreprise}} <br>
        <b>Prix: </b>{{selectedScan.prix}} <br>
        <b>Dimensions: </b>{{selectedScan.dimensions}} <br>
        <b>Précision: </b>{{selectedScan.precision}} <br>
        <b>Distance Recommandée: </b>{{selectedScan.distance}} <br>
      </div>
      <div class="col-4">
        <b>Logiciel: </b>{{selectedScan.logiciel}} <br>
        <b>Compatibilité: </b>{{selectedScan.exploitation}} <br>
        <b>Requis: </b>{{selectedScan.requis}} <br>
        <b>Remarques: </b>{{selectedScan.description}} <br>
        <a [href]="selectedScan.lienweb"  target="_blank"><b>Lien Web</b></a>
      </div>
      <div class="col-4">
        <img class="card-img" [src]="selectedScan.image">
      </div>
    </div>
    <hr>
    <h5>Logiciel :{{selectedLogi.nom}}</h5>
    <hr>
    <div class="row">
      <div class="col-4">
        <b>Prix: </b>{{selectedLogi.prix}} <br>
        <b>Sécurité/Confidentialité: </b>{{selectedLogi.Securite}} <br>
        <b>Bibliothèque: </b>{{selectedLogi.biblio}} <br>
        <b>Précision: </b>{{selectedLogi.precision}} <br>
        <b>Compatibililé: </b>{{selectedLogi.exploitation}} <br>
        <b>Inconvénients: </b>{{selectedLogi.inconvenient}} <br>
      </div>
      <div class="col-4">
        <b>Requis: </b>{{selectedLogi.capacite}} <br>
        <b>Remarques: </b>{{selectedLogi.description}} <br>
      </div>
      <div class="col-4">
        <img class="card-img" [src]="selectedLogi.image">
      </div>
    </div>
  </div>
</div>
